{% extends "base.html" %}

{% block title %}Bank account{% end %}

{% block content %}
<div class="panel">
  <h1>Set transaction categories</h1>
  <table class="table table-hover">
    <thead>
      <tr>
	    <th class="col-md-1">Date</th>
	    <th class="col-md-2">Label</th> 
	    <th class="col-md-6">Description</th>
	    <th class="col-md-1">Amount</th>
        <th class="col-md-2">Category</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
	    <td class="col-md-1">{{ transaction[0] }}</td>
	    <td class="col-md-2">{{ transaction[1] }}</td> 
	    <td class="col-md-6">{{ transaction[2] }}</td>
	    <td class="col-md-1">{{ transaction[3] }}</td>
        <td class="col-md-2 form-group">
          <select class="form-control">
            <option value="volvo">Volvo</option>
            <option value="saab" selected="selected">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}
